.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    height: 100%;
}

.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.logo{
    height: 100px;
    margin-bottom: 10px;
}

